@using Entities.Concrete
@model Company
@{
    Layout = "_Layout";
}
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    .container {
        max-width: 960px;
    }

    @@media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

    .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
    }

    .bi {
        vertical-align: -.125em;
        fill: currentColor;
    }

    .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
    }

        .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }
</style>

<meta name="theme-color" content="#712cf9">

<div>
    <div class="container">
        <main>
            <div class="py-5 text-center">
                <img class="d-block mx-auto mb-4" src="/image/library.png" alt="" width="72" height="57">
                <h2>Şirket Ekle</h2>
            </div>

            <div class="row g-5 d-flex justify-content-center">
                <div class="col-md-7 col-lg-8">
                    <form class="needs-validation" novalidate asp-controller="Admin" asp-action="AddCompany" method="post">
                        <div class="row g-3">
                            <div class="col-12">
                                <label for="firstName" class="form-label">Şirket Adı</label>
                                <input type="text" class="form-control" id="firstName" placeholder="" value="" asp-for="Name" required>
                                <div class="invalid-feedback">
                                    Geçerli bir ad gereklidir.
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="lastName" class="form-label">Adres</label>
                                <input type="text" class="form-control" id="lastName" placeholder="123 sk." value="" asp-for="Adress" required>
                                <div class="invalid-feedback">
                                    Kitabın yazarını giriniz.
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="username" class="form-label">Telefon Numarası</label>
                                <div class="input-group has-validation">
                                    <input type="tel" class="form-control" id="username" placeholder="telefon numarası" asp-for="PhoneNumber" required>
                                    <div class="invalid-feedback">
                                        Geçerli bir numara giriniz.
                                    </div>
                                </div>
                            </div>


                        </div>

                        <hr class="my-4">

                        <button class="w-100 btn btn-primary btn-lg" type="submit">Şirket Ekle</button>
                    </form>
                </div>
            </div>
        </main>
    </div>

</div>